<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" showFlags="Date, Time, Size, Extension, LongDate" />
        <handlers>
            <add name="DjangoHandle" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\tsip-ideathon-form\form\tsipvirtualenv\Scripts\python.exe|C:\tsip-ideathon-form\form\tsipvirtualenv\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
            <add name="Django Pandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\tsip-ideathon-form\form\tsipvirtualenv\Scripts\python.exe|C:\tsip-ideathon-form\form\tsipvirtualenv\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
</configuration>
